<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap" rel="stylesheet">
        <title>Hearsay-About</title>
    </head>
    <body class="algo">
        <div class="result">
            <h1>Behind Work</h1><hr>
            <p class="project"> Deep Learning, Natural Language Processing, Regular Dense Neural Network(model with 90% accuracy),Mongodb atlas.</p><br>
            <div class="back">
                <a href="http://127.0.0.1:5000" class="backh">Back To Home</a>
            </div>
        </div>
    </body>
</html>
