<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
        <link rel="shortcut icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/css/loading-bar.css"/>
        <script type="text/javascript" src="../static/js/loading-bar.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap" rel="stylesheet">
        <title>Hearsay-result</title>
    </head>

    <body class="pred">
        <div class="result">
            <table class="tbl">
                <tr><td class="fakereal">The news is : <u>{% if pred %}
                                                            {{pred}}
                                                        {% endif %}</u> .</td></tr>
                <tr><td class="prob">Probability : <u>{% if acc %}
                                                        {{acc}}
                                                      {% endif %}</u></td></tr>
                <tr><td class="accuracy">Inaccurate content the news contains : <u>{% if accper %}
                                                                {{accper}}
                                                              {% endif %}</u>% .</td></tr>
                <tr><td class="label">Accuracy of the news (approximate): <div data-preset="bubble" class="ldBar label-center" data-value = '{{mtr}}'></div></td></tr>

                <tr><td class="n"></td></tr>
            </table>
            <div class="again">
                <a href="http://127.0.0.1:5000" class="tagain">Try Again</a>
            </div>
        </div>
    </body>
</html>
